* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f9e9d8d8;

}

p {
    font-size: 16px;
    font-style: italic;
}
.mailer {
    color: brown;
    width: auto;
    height: auto;
}
.thumb {
    border-style: ridge;
    border-radius: 8px;
    border-color: gold;
    border-image-outset: initial;
    width: 500px;
    height: 275px;    
}
h1 {
    font-size: 34px;
    object-fit: contain;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:brown
}

h3 {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color:brown;
    align-content: center;
}
img {
    border-style: ridge;
    border-radius: 8px;
    border-color: gold;
    border-image-outset: initial;
    width: 200px;
    height: 200px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
